@import '/src/global.scss';

.mobileNav{
    background-color: rgba(0, 0, 85, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 350px;
    width: 100%;
    top: -350px;
    transition: .6s ease-in-out;
    left: 0;
    right: 0;

    .nav-ul{
        display: inline-block;
        justify-content: center;
        align-items: center;
        list-style: none;

        @media (min-width: 841px) {
            display: none;
            
        }
        
        .nav-ul-li{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 10px;
            border-radius: 7px;
            padding: 10px;

            &:hover{
                transition: .5s ease-in-out;
                background-color: rgb(15, 15, 230);
            }
            
            .nav-links{
                color: white;
                text-decoration: none;
            }
        }
    }
}