@import './global.scss';
.app{
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

    .section{
        height: calc(100vh - 60px);
        top: 60px;
        position: relative;
        width: 100%;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;

        > *{
            width: 100%;
            min-height: calc(100vh - 60px);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom: 3px solid $fontColor;
            scroll-snap-align: start;

        }

        span{
            height: 10px;
            width: 100%;
            margin: 20px 0;
        }
    }
}